<?xml version="1.0" encoding="windows-1251"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.projects.demidov/MiniJava"
			class = "demidov.projects.miniJava.MiniJavaPackage"
			genModel = "model/generated/MiniJava.genmodel" />
	</extension>
</plugin>
